# Created by .ignore support plugin (hsz.mobi)
W"urde .gradle/ l"oschen
W"urde .idea/gradle.xml l"oschen
W"urde .idea/misc.xml l"oschen
W"urde .idea/uiDesigner.xml l"oschen
W"urde .idea/workspace.xml l"oschen
W"urde build.gradle l"oschen
W"urde gradle/ l"oschen
W"urde gradlew l"oschen
W"urde gradlew.bat l"oschen
W"urde out/ l"oschen
W"urde settings.gradle l"oschen
W"urde src/ l"oschen
